.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {
    margin-top: 20px;

    font-size: 14px;
    line-height: 1.71;
}

.icon-list-footer {
    border-radius: 50%;
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
}


.social-networks-footer {
    width: 206px;
    justify-content: flex-start
}
